<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="nav-items">
                <li><a href="index">Home</a></li>
                <li><a href="experiences">Experiences</a></li>
                <li><a href="formations">Formations</a></li>
                <li><a href="skills">Skills</a></li>
                <li><a href="dashboard">Admin</a></li>
            </ul>
        </nav>
    </header>

    <div class="dashboard">
        <form action="/dashboard" method="GET" class="category-selection-form">
            <label for="category">Choose a category:</label>
            <select id="category" name="view" onchange="this.form.submit();" class="category-dropdown">
                <option value="">Select a category</option>
                {{range .Names}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </form>
        
        <div id="data-display" class="data-display">
            <table border="1" class="data-table">
                <thead>
                    <tr>
                        {{range $index, $element := .Entries.Columns}}
                            <th>{{$element}}</th>
                        {{end}}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Entries.Rows}}
                        <tr>
                            {{range .}}
                                <td>{{.}}</td>
                            {{end}}
                            <td class="action-buttons">
                                <form action="/dashboard/delete" method="POST" class="delete-form">
                                    <input type="hidden" id="id" name="id" value="{{index . 0}}">
                                    <input type="hidden" id="category" name="category" value="{{$.Entries.View}}">
                                    <button type="submit" class="dashboard-btn dashboard-btn-delete"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {{end}}
                </tbody>                                
            </table>                
        </div>

        <div class="dynamic-form">
            <form action="/dashboard/add" method="POST" class="add-form">
                {{range $index, $column := .Entries.Columns}}
                    {{if ne $index 0}}
                        <label for="{{$column}}">{{$column}}</label>
                        <input type="text" id="{{$column}}" name="{{$column}}" class="add-form-input">
                    {{end}}
                {{end}}
                <input type="hidden" id="category" name="category" value="{{.Entries.View}}">
                <button type="submit" class="dashboard-btn dashboard-btn-add">Add</button>
            </form>            
        </div>        
    </div>

    <div id="loader" class="loader">Chargement...</div>

    <script src="https://kit.fontawesome.com/0bcb48834b.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>
